# Hi there 👋

I'm Henry Hai - a Full Stack Developer!

## 🔭 I’m currently working on

- Go
- Python
- NodeJS
- DevOps
- MCP
- Automation tools (n8n)

## 🌱 I’m currently learning

- Machine Learning
- ~~ Ardunio (pending for now)

## 📫 How to reach me

- Email: <henryhaiwork@gmail.com>

## 🌤️ Latest Weather
[![Update README](https://github.com/henry0hai/henry0hai/actions/workflows/udpateReadme.yml/badge.svg)](https://github.com/henry0hai/henry0hai/actions/workflows/udpateReadme.yml)
(Update every **hour**)
<!-- CURRENT_WEATHER:START --><!-- CURRENT_WEATHER:END -->

## 🌤️ / 🌧️ Forecast Weather
<!-- FORECAST_WEATHER:START --><!-- FORECAST_WEATHER:END -->
